bcrypt==4.0.1
click==8.1.3
Flask==2.2.2
Flask-Login==0.6.2
itsdangerous==2.0.1
Jinja2==3.1.2
MarkupSafe==2.1.2
python-dotenv==0.21.1
pytz==2022.7.1
SQLAlchemy==2.0.1
typing_extensions==4.4.0
Werkzeug==2.2.2
-e git+https://github.com/costa-rica/whatSticks09_modules.git@3f6746493c06acc5071d08bc4acf5ce737517fde#egg=ws09_modules&subdirectory=ws09_modules
